<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consecionária</title>
</head>
<body>
    <nav class="nav">
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/veiculos/create">Cadastrar Veículo</a></li>
        </ul>
    </nav>
    {{{body}}}
</body>
</html>